* {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}
.v-pagination__navigation, .v-pagination__item {
  outline: none !important;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.slight-br {
  border-radius: 30px!important;
}

.main-gradient {
  background: linear-gradient(to bottom, #3A005F,  rgb(39, 24, 126),  rgb(20, 81, 143),  #2571BF)!important;
}

.inset-shadow {
  box-shadow: inset -5px 5px 10px hsla(0, 0%, 20%, 0.3),
		inset 5px -5px 10px hsla(0, 0%, 20%, 0.3)!important;
}

.inset-shadow-dark {
  box-shadow: inset -5px 5px 10px hsla(0, 0%, 20%, 0.5),
		inset 5px -5px 10px hsla(0, 0%, 20%, 0.5)!important;
}


*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}


*::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 15px;
}
